@using PhoneShop.Models
@{
    PageViewModel page = new PageViewModel(ViewBag.CountProducts, ViewBag.Page, ViewBag.PageSize);
}
@if (page.HasNextPage == true)
{
    <a asp-action="ShowAll"
       asp-route-page="@(page.PageNumber + 1)"
       asp-route-brand="@ViewBag.Brand"
       asp-route-minPrice="@ViewBag.minPrice"
       asp-route-maxPrice="@ViewBag.maxPrice"
       class="btn btn-outline-dark">Вперед
    </a>
}
@if (page.HasPreviousPage == true)
{
    <a asp-action="ShowAll"
       asp-route-page="@(page.PageNumber - 1)"
       asp-route-brand="@ViewBag.Brand"
       asp-route-minPrice="@ViewBag.minPrice"
       asp-route-maxPrice="@ViewBag.maxPrice"
       class="btn btn-outline-dark">Назад
    </a>
}
