@model PhoneShop.Models.DataModel.Product
@using System;
<div class="col">
    <div class="row">
        @if (Model.Image != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="300" height="350"
                     src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
            </div>
        }
        <div class="col">
            <h1>@Model.Name</h1>
            <h2>@Model.Brand</h2>
            <h2>@Model.Price.ToString("f2") $</h2>
            @if (ViewBag.PromoCode != null)
            {
                <h2>Price with PromoCode @ViewBag.PriceWithPromo.ToString("f2") $</h2>
            }
            <hr></hr>
            <h5>Technical Information</h5>
            <ul>
                <li>Screen resolution @Model.ProductInfo.ScreenResolution</li>
                <li>Camera @Model.ProductInfo.Camera</li>
                <li>Operating system @Model.ProductInfo.OS</li>
                <li>Processor @Model.ProductInfo.CPU</li>
                <li>Number of cores @Model.ProductInfo.NumberOfCores cores</li>
                <li>RAM Size @Model.ProductInfo.RAMSize GB</li>
                <li>Built-In memory @Model.ProductInfo.BuiltInMemory GB</li>
                <li>Battery capacity @Model.ProductInfo.BatteryCapacity mAH</li>
            </ul>
        </div>
    </div>
</div>