@model IEnumerable<PhoneShop.Models.DataModel.Product>
<div class="col">
    @foreach (var p in Model)
    {
        <div class="row">
            @if (p.Image != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="120" height="100"
                         src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Image))" />
                </div>
            }
            <div class="col">
                <h3>@p.Name</h3>
                <h5>@p.Brand</h5>
                <h6>@p.Price.ToString("F2") $</h6>
                @if(ViewBag.PromoCode!=null)
                {
                    <h6>PromoCode : @ViewBag.PromoCode</h6>
                }
            </div>
            <div class="pull-right">
                <form asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@p.Id">
                    <input type="hidden" name="productId" value="@p.Id" />
                    <input type="hidden" name="returnUrl" value="@ViewBag.URL" />
                    <button type="submit" class="btn btn-success">Add to Cart</button>
                </form>
            </div>
        </div>
    }
</div>