@model IQueryable<PhoneShop.Models.DataModel.Product>
@using PhoneShop.Models

<div class="col">
    @foreach (var p in Model)
    {
        <div class="row">
            @if (p.Image != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="120" height="100"
                         src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Image))" />
                </div>
            }
            <div class="col">
                <h3>@p.Name</h3>
                <h5>@p.Brand</h5>
                <h6>@p.Price.ToString("F2") $</h6>
                <h6>@p.Supplier?.Name</h6>
            </div>
            <div class="col-2">
                <form asp-action="Delete" method="post" 
                      asp-route-minPrice="@ViewBag.minPrice" 
                      asp-route-maxPrice="@ViewBag.maxPrice" 
                      asp-route-Page="@ViewBag.Page">
                    <a asp-action="Edit" class="btn btn-warning" 
                       asp-route-id="@p.Id"
                       asp-route-minPrice="@ViewBag.minPrice" 
                       asp-route-maxPrice="@ViewBag.maxPrice"
                       asp-route-Page="@ViewBag.Page">Edit
                    </a>
                    <input type="hidden" name="id" value="@p.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
</div>
